    Autor: <p><%= autor %> </p>
    
    <img src="/images/fer.jpg" WIDTH=178 HEIGHT=180 BORDER=2 ><br>
    <embed src = "images/mono.wmv" WIDTH=300 HEIGHT=300 BORDER=2 ><br></video>


    <a href="/">Volver </a>

